@{
}
<div class="mx-auto rounded border p-4" style="width: 400px">
    <h2 class="text-center mb-3">Forgot Password</h2>
    <hr />

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@ViewBag.SuccessMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" name="email" value="@ViewBag.Email" />
            <span class="text-danger">@ViewBag.EmailError</span>
        </div>

        <div class="row mb-3">
            <div class="col d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col d-grid">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" role="button">
                    Login
                </a>
            </div>
        </div>

    </form>
</div>