@model PasswordResetDto
@{
}

<div class="mx-auto rounded border p-4" style="width: 400px">
    <h2 class="text-center mb-3">Reset Password</h2>
    <hr />

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>@ViewBag.ErrorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@ViewBag.SuccessMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">New Password</label>
            <div class="input-group">
                <input id="Password" asp-for="Password" type="password" class="form-control" />
                <span class="input-group-text">
                    <i id="togglePassword" class="bi bi-eye-slash" onclick="togglePasswordVisibility('Password')"></i>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <div class="input-group">
                <input id="ConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" />
                <span class="input-group-text">
                    <i id="toggleConfirmPassword" class="bi bi-eye-slash" onclick="togglePasswordVisibility('ConfirmPassword')"></i>
                </span>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <div class="col d-grid">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col d-grid">
                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" role="button">Login</a>
            </div>
        </div>
    </form>
</div>

<script>
    function togglePasswordVisibility(id) {
        const passwordField = document.getElementById(id);
        const icon = passwordField.nextElementSibling.querySelector('i');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            icon.classList.remove('bi-eye-slash');
            icon.classList.add('bi-eye');
        } else {
            passwordField.type = 'password';
            icon.classList.remove('bi-eye');
            icon.classList.add('bi-eye-slash');
        }
    }
</script>
