
@{
}

<div class="mx-auto rounded border p-4" style="width: 420px">
    <h2 class="text-center mb-3">Order Details</h2>
    <hr />

    @if(ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" role="alert">@ViewBag.SuccessMessage</div>
        <a class="btn btn-outline-primary" asp-controller="ClientOrders" asp-action="Index">Back</a>
    }
    else
    {
        <div class="row mb-3">
            <div class="col-5">Delivery Address</div>
            <div class="col-7">@ViewBag.DeliveryAddress</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Payment Method</div>
            <div class="col-7">@ViewBag.PaymentMethod</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Total Amount</div>
            <div class="col-7">$@(ViewBag.Total)</div>
        </div>
        <div class="row mb-3">
            <div class="col-5">Quantity</div>
            <div class="col-7">@(ViewBag.CartSize)</div>
        </div>

        <form method="post">
            <div class="row">
                <div class="col-sm-6 d-grid">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
                <div class="col-sm-6 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Cart" asp-action="Index">Back</a>
                </div>
            </div>
        </form>
    }

</div>