@model Product
@{
}

<div class="row">
    <div class="col-md-4 text-center">
        <img src="/Images/@Model.ImageFileName" class="img-fluid mb-3" alt="..." width="250" />
    </div>
    <div class="col-md-8">
        <h3 class="mb-3">@Model.Name</h3>
        <h3 class="mb-3">$@(Model.Price)</h3>
        <button type="button" class="btn btn-warning btn-sm">
            Add to Cart <i class="bi bi-cart4"></i>
        </button>
        <hr />

        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">
                Brand
            </div>
            <div class="col-sm-9">
                @Model.Brand
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-3 fw-bold">
                Category
            </div>
            <div class="col-sm-9">
                @Model.Category
            </div>
        </div>

        <div class="fw-bold">Description</div>
        <div style="white-space: pre-line">@Model.Description</div>
    </div>
</div>